<nav class="navbar">

    <div class="nav-container">

        <!-- LEFT : LOGO -->

        <a href="index.html" class="logo">

            <img src="assets/hanora-logo.png" alt="Logo">

        </a>

        <!-- RIGHT SIDE -->

        <div class="nav-right">

            <!-- LINKS -->

            <ul class="nav-links">

                <li>
                    <a href="index.html">Home</a>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>

                <li>
                    <a href="courses.html">Courses</a>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>

            </ul>

            <!-- BUTTONS -->

            <div class="nav-actions">

                <button class="popup-nav-btn" id="openPopupBtn">

                    <i class="ri-customer-service-2-line"></i>

                    Enquire Now

                </button>

                <a href="contact.html" class="nav-btn">

                    Apply Now

                </a>

            </div>

        </div>

    </div>

</nav>