<nav class="navbar">
    <div class="nav-container">

        <!-- LOGO -->
        <!-- <a href="{{ROOT}}index.html" class="logo">
            <img src="{{ROOT}}assets/logo.png" alt="Logo">
        </a> -->

        <a href="{{ROOT}}index.html" class="logo">
            <img src="{{ROOT}}assets/hanora-logo.png" alt="Hanora">

            <h2>
                Hanora <span>EdTech</span>
            </h2>
        </a>

        <!-- RIGHT SIDE -->
        <div class="nav-right" id="navRight">

            <ul class="nav-links">

                <li><a href="{{ROOT}}index.html">Home</a></li>

                <li><a href="{{ROOT}}about.html">About</a></li>

                <!-- COURSES DROPDOWN -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-link">
                        Courses
                        <i class="ri-arrow-down-s-line"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ROOT}}courses/bba.html">BBA</a></li>
                        <li><a href="{{ROOT}}courses/bcom.html">B.Com</a></li>
                        <li><a href="{{ROOT}}courses/mba.html">MBA</a></li>
                        <li><a href="{{ROOT}}courses/marketing-management.html">Marketing Management</a></li>
                        <li><a href="{{ROOT}}courses/financial-management.html">Financial Management</a></li>
                        <li><a href="{{ROOT}}courses/HR-management.html">HR Management</a></li>
                        <li><a href="{{ROOT}}courses/business-management.html">Business Management</a></li>
                        <li><a href="{{ROOT}}courses/operation&data-science.html">Operations & Data Science</a></li>
                        <li><a href="{{ROOT}}courses/business-analytics.html">Business Analytics</a></li>
                        <li><a href="{{ROOT}}courses/IT-management.html">IT Management</a></li>

                    </ul>
                </li>

                <li><a href="{{ROOT}}contact.html">Contact</a></li>

            </ul>

            <div class="nav-actions">
                <button class="popup-nav-btn" id="openPopupBtn">
                    <i class="ri-customer-service-2-line"></i>
                    Enquire Now
                </button>

                <a href="{{ROOT}}contact.html" class="nav-btn">
                    Apply Now
                </a>
            </div>

        </div>

        <!-- MOBILE TOGGLE -->
        <button class="menu-toggle" id="menuToggle">
            <i class="ri-menu-line"></i>
        </button>

    </div>
</nav>